/* This .css file defines all the different Buttonstyles used in this project. */


/* .first-button is the most commonly used buttonstyle. */
.first-button{
				background-color: red;
				color: white;
				border: none;
				height: 50px;
				width: 150px;
				border-radius: 25px;
				cursor: pointer;
				transition: border-radius 0.5s;
				margin-left: 10px;
				margin-right: 10px;
				font-size: 25px;
			}
.first-button:hover{
				transition: background-color 0.2s;
				background-color: green;
				border-radius: 10px;
				box-shadow: 10px 10px 10px black;
			}
.first-button:active{
				background-color: blue;
			}

/* .big-button is like first button but bigger */ 
.big-button{
				background-color: red;
				color: white;
				border: none;
				height: 80px;
				width: 150px;
				border-radius: 25px;
				cursor: pointer;
				transition: border-radius 0.5s;
				margin-left: 10px;
				margin-right: 10px;
				font-size: 25px;
			}
.big-button:hover{
				transition: background-color 0.2s;
				background-color: green;
				border-radius: 10px;
				box-shadow: 10px 10px 10px black;
			}
.big-button:active{
				background-color: blue;
			}


/* the styles below are only used in HTMLPage1.html and should probably be moved to a separate document.  */
