/* This file contains styles specific to HTMLPage2.html */

.info-container{
    display: flex;
    position: absolute;
    left: 20% ;
    bottom: 0%;
    width: 50% ; 
    height: 25% ;
    justify-content: space-between; 
    align-items: center;
}


.guess-info-distance{
    height:40%;
    width:25%;
    background-color: blueviolet;
    color: white;
    border-radius: 4px;
    font-size: larger;
    padding-left: 10px;
    padding-top: 6px ;
}

.button-container{
    display:flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    align-items:center;
    justify-content: space-around;
    row-gap: 5px;
}
.guess-info-score{
    height:40%;
    width:25%;
    /*position:relative;
    left: 25%;
    top : 20%;*/
    background-color: blueviolet;
    color: white;
    border-radius: 4px;
    font-size: larger;
    padding-left: 10px;
    padding-top: 6px ;
}

.summary-button{
    background-color: red;
    color: white;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    transition: border-radius 0.5s;
    margin-left: 5px;
    margin-right: 5px;
    font-size: larger;
    padding:10%;

}
.summary-button:hover{
    transition: background-color 0.2s;
	background-color: green;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}
.summary-button:active{
    background-color: blue;
}
.nxt-rnd-btn-container{
    display: flex;
}


.restart-btn-container{
    display: flex;
}
/* Map styles */
#map {
    height: 75%;
    border-radius: 25px;
    width: 80%;
    padding: 10;
    position:relative;
    top: 0%;
    left:10%
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  } 