
/* This file contains differ styles used in Summary.html*/

/* .pointBar-container is the style used for the backdrop of the pointbar*/
.pointBar-container{
	width: 80%; /* Full width */
	height: 40px;
	border-radius: 15px;
  	background-color: #036f08; /* Grey background */
	position: absolute;
	left: 10%;
	top: 85%;
}
/* .point-Bar is style for the point bar itself. */
.point-Bar{
	text-align: center;
	height: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius: 15px;
	color:white;
	width: 10%;
	background-color: rgb(220, 220, 3);
}

/*.total.score is the style used for description above the point bar. */
.total-score{
    text-align:center;
    position:absolute;
    top: 90%;
    left: 23%;
    color:darkblue;
}

/* .summary-center and .summary-container are styles used for the box on top of the Summary page  */
.summary-center{
	margin: 0;
	position: absolute;
	top: 45%;
	left: 25%;
	text-align: center;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	
}

.summary-container {
    height: 150px;
    width: 80% ;
    position: absolute;
    top: 0%;
    left:10%;
    border: 3px solid green;
    border-radius: 20px;
  }


/* the style below is for the map */
#map {
    height: 60%;
    width: 70%;
    position: absolute;
    top: 23%;
    left:15%;
    padding: 10;
    border-radius: 20px;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }	