<!DOCTYPE html>

<html>
	<head>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<title>
			Welcome
		</title>

		<!-- Importing FirstButton.css for button style -->
		<link rel="stylesheet" type="text/css"  href="/static/css/FirstButton.css">
		<link rel="stylesheet" type="text/css"  href="/static/css/Page1.css">
	</head>
	<body>
		<h1>Languessr</h1>
		<div class="super-container"> 
			<div class="container">
				<div class="vertical-center">
					<h2> Try the Game</h2>
					<a href="\">
						<button class=first-button>
							Start
						</button>
					</a>
				</div>
			</div>
			<div class="container">
				<h2> Browse recordings: </h2>
				<p> Click the button below to access the database of all the recordings used for Languessr. </p>
				<a href="/RecCheck">
					<button class=first-button>
						Browse
					</button>
				</a>
			
			</div>
		</div>
		<script src = "/static/js/HTMLPage1.js" ></script>
	</body>
	
	
</html>


