<!DOCTYPE html>

<html>
	<head>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<title>
			Welcome
		</title>

		<!-- Importing FirstButton.css for button style -->
		<link rel="stylesheet" type="text/css"  href="/static/css/FirstButton.css">
		
	</head>
	<body>
		<h1>Languessr</h1>
		<div class="container">
			<div class="vertical-center">
				<h2> Try the Game</h2>
				<a href="\">
					<button class=first-button>
						Start
					</button>
				</a>
			</div>
		</div>
		<script> 
			localStorage.setItem('roundNumber',1);
			localStorage.setItem('totalScore',0);
			localStorage.setItem('totalDistance',0);
		</script>
	</body>
	
	
</html>


