<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Guess evaluation</title>


    <!-- Importing FirstButton.css for button style -->
    <link rel="stylesheet" type="text/css"  href="/static/css/FirstButton.css">
    <link rel="stylesheet" type="text/css"  href="/static/css/Page2.css">
  
   

</head>


<body >


  <!-- Defining div element for map -->
  <div id="map"></div>
  <div class = "info-container">
    <div class="guess-info-distance" id = 'distanceCount'> Test </div>
    
    <div class="button-container"> 
      <div class="nxt-rnd-btn-container">
        <a id = 'attrBtn'> 
          <button class="summary-button" id="NxtRndBtn"></button>
        </a>
      </div>
      <div class="restart-btn-container">
        <a href="\Start">
          <button class="summary-button"> Restart Game </button>
        </a>
  
      </div>
    </div>

    <div class="guess-info-score" id = 'scoreCount'> Test </div>
    
        
    </div>
    
  </div>
  <!-- Js code which displays a marker both for the sulotion and for the guess made is imported below -->
  <script src = "/static/js/mapPage2.js" > </script>
  
  
  <!-- The Js Code imported below computes the number of points achieved by the player as well as 
    displaying those points and the distance between guess location and solution location -->
  <script src = "/static/js/solCheck.js" ></script>


  <!-- The Js Code below accesses the GoogleMaps API-->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx9c3TZDsF8PKs6jC5lf1ZlG-MN8iHthE&callback=initMap">
  </script>


  <!-- The code Below creates buttons as attributes. -->

		
	



  <!-- The script imported below updates the round counding and  handles the linkage of the buttons on this page -->
  <script src = "/static/js/roundCount.js"> </script>


  <!-- The code below displays number of points and distance to solution on the page. -->
</body>
</html>