<!DOCTYPE html>

<html>
	<head>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<title>
			Summary
		</title>

		<!-- Importing FirstButton.css for button style and Summary.css for the style of point Bar. -->
		<link rel="stylesheet" type="text/css"  href="/static/css/FirstButton.css">
        <link rel="stylesheet" type="text/css"  href="/static/css/Summary.css">
		
	</head>
	<body>
        <!-- Note: A map summerizing all guesses should be added between the box on top and the score bar at the bottom.-->
		<!-- the div element below creates the box on top of the page. -->
		<div class="summary-container">
			<div class="summary-center">
				<h2> You have completed A full game. Start a new one</h2>
				<a href="\Start">
					<button class=big-button>
						Return to Start
					</button>
				</a>
			</div>
		</div>

        <!-- Defining div element for map -->
        <div id="map"> </div>¨
        

        <!-- the div element below creates the point bar and the text above it.-->
        <div class="total-score">
            <h2 id ="totalSc"> </h2>
        </div>
        <div class="pointBar-container"> 
            <div class="point-Bar " id="pointBar"> </div>
        </div>
        <script src="/static/js/summary.js">
        </script>

        <!-- The Js Code below accesses the GoogleMaps API-->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx9c3TZDsF8PKs6jC5lf1ZlG-MN8iHthE&callback=initMap">
        </script>
        
	</body>
	
	
</html>